<!DOCTYPE html>
<html>
  <head>
    <title>CloneOfSlack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/header' %>
      </div>
    </div>
    <div class="container-fluid main-container">
      <div class="row">
        <%= render 'layouts/leftbar' %>
        <%= render 'layouts/conversation' %>
      </div>
    </div>
  </body>
</html>
